@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray;
}

.imagem01 {
    background-image: url(imagens/pexels003.jpg);
    height: 30vh;
    background-position: center center;
    background-size: 100% 100%;
    margin-bottom: 50px;
}

.imagem02 {
    background-image: url(imagens/pexels002.jpg);
    min-height: 110vh;
    max-height: 400vh;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    border-radius: 10px;

}

header h1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-top: 4%;
    font-size: 3em;
}

header p {
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
}

main {
    display: block;
    background-color: white;
    min-width: 200px;
    max-width: 1000px;
    min-height: 400px;
    max-height: 1000px;
    margin: auto;
}

main h1 {
    text-align: center;
    font-size: 2em;
    padding: 10px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

main p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 20px;
    text-indent: 20px;
    font-weight: 600;
}
